/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(128, 128, 128, 0.262) ;
    width: 100%;

}
.container-header{
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    justify-content: space-between;
    padding-right: 10px;

}


/* main */
main{
    /* background-image: url(../assets/fondo-main-2.jpg); */
    background-color:white;
    background-repeat: no-repeat;
}

h1,h2,h3{
    padding: 10px;
    text-align: center;
}
p{
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.container-cards{
    display: flex;
    flex-direction:row;
    height: 800px;
    background-color: rgba(7, 7, 7, 0);
    justify-content: space-evenly;
    align-items:center;

}
.item1{
    background-color:rgba(128, 128, 128, 0.942);

}
.item2{
    background-color:rgba(128, 128, 128, 0.942);
}
.item3{
    background-color:rgba(128, 128, 128, 0.942);
}
.item4{
    background-color:rgba(128, 128, 128, 0.942);
}

.card{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(237, 2, 14, 0.434);
}
.card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.card-reserva{
    background-color: rgba(128, 128, 128, 0.3);
    color: black;
    font-size: 20px;

}
.envios{
    background-color: beige;
    gap: 10px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* uso de grid */

.container-grid{
    background-repeat: no-repeat;
    background-color:white;
    width: 100%;
    height: 40vh;
    margin: 0;
    display: grid;
    grid-template: repeat(2,20%) / repeat(3,20%);
    grid-template-areas:
    " itemgrid1 itemgrid1 itemgrid1 "
    " itemgrid2 itemgrid2 itemgrid2"
    ;
    gap: 20px;
    row-gap: 10px;
    column-gap: 5px;
    justify-content: center;
    align-content: center;


}

.itemgrid1{
    grid-area: itemgrid1;
    background-color: grey;
    
}
.itemgrid2{
    grid-area: itemgrid2;
    background-color: grey;
}


/* footer */

footer{
    background-color: rgba(128, 128, 128, 0.262) ;
    text-align:center;
    padding: 15px;
}








/* ***** PAGINA-2 *******/
.font-size{
    background-color: rgba(128, 128, 128, 0.623);
    font-size: 25px;
}


.container-section-2{
    display: flex;
    flex-direction:row;
    /* flex-wrap:wrap;  */
    height: 800px;
    background-color: rgba(7, 7, 7, 0);
    justify-content: space-evenly;
    align-items:center;
    row-gap: 20%;
}






.nav-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 16px;

}

nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 5px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;

}

.menu ul li a{
    text-decoration: none;
    color:black;
}

nav #toggle, nav label{
    display: none;
}



@media(max-width:768px){
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column ;
        align-items: center;
        padding: 8px;
    }
    nav label{
        display: inline-flex;
        color: black;
        cursor: pointer;
    }
    nav #toggle:checked ~ .menu{
        height: 100%;
    }
}

@media(min-width:1024px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }
}
